# Виртуальное окружение
venv/
env/
.env/

# База данных
*.sqlite3
*.db
*.sql
music_blog_dump.sql

# Медиа файлы
media/
*.mp3
*.wav

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
staticfiles/
db.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db